

<%= form_for (@reference_commodity)  do |f| %>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :commodity %><br />
    <%= f.text_field :commodity %>
  </div>
  <div class="field">
    <%= f.label :language, "What language?" %><br />
    <%= f.text_field :language %>
  </div>
 <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>